.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.float-title{
	color:white;
	font-size:14pt;
	font-weight: bold;
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: black;
	padding: 10px;
}
.float-loading{
	position: absolute;
	left: 0;
	top: 0;
}